.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-header {
  font-size: calc(12px + 2vmin);
}

.app-nav {
  margin-top: 48px;
  width: 1152px;
  font-size: calc(2vmin);
  display: flex;
  justify-content: space-between;
}

.backToHome {
  font-size: calc(2vmin);
  margin-top: 16px;
}